[packages]
ipython = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
python-dotenv = "*"
ruff = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
"panificadora" ={editable = true, path = "."}

[requires]
python_version = "3.12"